* {
        position: relative;
        padding: 0;
        margin: 0;
        
}
@font-face{
    font-family:"iCielCadena";
    src:url("../font/icielCadena.ttf") format("truetype"),
    url("../font/iCielCadena.otf#iefix") format("embedded-opentype");
    font-style:normal;
}
a,p{
    cursor: pointer;
}

.container-fluid{
  margin: 0 !important;
  padding:0!important;
}
.clearfix::after{
    content:"";
    clear:both;
    display: block;
}
#btnLine{
    height:25px;
    width:0px;
    border:solid 1px #fff!important;
    opacity: 0.4;
    margin:12px 10px;
}
 @media only screen and (max-width:600px){
  #btnLine{
    display:none;
    }
   
} 

/*-------------------------------------------------
body {
    background-color: #4158D0;
  }
  body:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    opacity: 0;
    transition: all 2s ease-in-out;
  }
  body.open:after {
    opacity: 1;
  }
  
  .wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  button {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: all .25s ease-in-out;
  }
  button:focus {
    outline: none;
  }
  button:focus {
    cursor: pointer;
  }
  button:hover:before {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translate(-50%, -50%) scale(1);
  }
  button.open svg circle {
    stroke-dashoffset: 0;
    transition-delay: .5s;
  }
  button.open .ham {
    transform: translate(-50%, -50%) rotate(90deg);
    transition-delay: 0s;
  }
  button.open .ham .top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: transform .5s ease-in-out;
  }
  button.open .ham .bottom {
    bottom: 50%;
    transform: translateY(50%) rotate(135deg);
    transition: transform .5s ease-in-out;
  }
  button.open .ham .middle {
    left: -50%;
    width: 0;
    transition-delay: 0s;
  }
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    width: 50px;
    height: 50px;
  }
  svg circle {
    stroke-width: 2;
    stroke: #fff;
    fill: none;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    stroke-linecap: round;
    transition: all 1.1s cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  .ham {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    transition: all .5s ease-in-out;
    transition-delay: 1.1s;
  }
  .ham .top,
  .ham .bottom {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
  }
  .ham .top {
    top: 3px;
    transition: all .5s ease-in-out;
    transition-delay: 0s;
  }
  .ham .bottom {
    bottom: 3px;
    transition: all .5s ease-in-out;
    transition-delay: 0s;
  }
  .ham .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    transition: all .5s ease-in-out;
    transition-delay: 1.1s;
  }
  