<!-- BEGIN: LAYOUT -->
<!DOCTYPE html>
<html lang="en">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{homepage}</title>
    <link rel="shortcut icon" type="image/ico" href="{baseUrl}img/fabicon/favicon.ico"/>


    <link rel="stylesheet" href="{baseUrl}css/show-hide-text.min.css">
    <link rel="stylesheet" href="{baseUrl}css/bootstrap.min.css">
    <link rel="stylesheet" href="{baseUrl}css/slick.css">
    <link rel="stylesheet" href="{baseUrl}css/lightgallery.min.css">
    <link rel="stylesheet" href="{baseUrl}css/font-awesome.css">        
    <link rel="stylesheet" href="{baseUrl}css/index_style.css">

    <script src="{baseUrl}js/jquery.js" type="text/javascript"></script>
    <script src="{baseUrl}js/popper.js" type="text/javascript"></script>
    <script src="{baseUrl}js/lightgallery.min.js" type="text/javascript"></script>    
    <script src="{baseUrl}js/show-hide-text.min.js" type="text/javascript"></script>

    <script src="{baseUrl}js/slick.js" type="text/javascript"></script>
    <script src="{baseUrl}js/bootstrap.js" type="text/javascript"></script>
</head>
<body>
    <header>
        <div class="sm-menu">
            <div class="container h-100">
                <div class="row flex-end align-items-center h-100" >
                    <div class="sm-contact d-flex ">
                        <span>Liên hệ với chúng tôi: </span>
                        <div class="social ml-3">
                            <a href="#" class="ml-2"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="ml-2"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="ml-2"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="language">
                        <div class="att-language">
                            <img src="{baseUrl}img/vietnam.png" alt="">
                            <span>VN</span>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="drop-language">
                            <div class="language-1">
                                <a href="#">
                                    <img src="{baseUrl}img/vietnam.png" alt="">
                                    <span>VN</span>
                                </a>
                            </div>
                            <div class="language-2">
                                <a href="#">
                                    <img src="{baseUrl}img/english.png" alt="">
                                    <span>EN</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-lg">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light w-100 p-0 hg">
                        <a class="navbar-brand" href="#">
                            <img src="{baseUrl}img/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse hg" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto h-100 d-flex align-items-center">
                                <!-- BEGIN: MENU  -->
                                <li class="nav-item mr-3 {dasboard.active}">
                                    <a class="nav-link " href="?m=tables&a={dasb_link}">{dasboard.name}</a>
                                </li>
                                <!-- END: MENU -->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="box-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 pl-0">
                    <div class="tab-content">
                        <div class="tab-pane active " id="_id-1">
                            <img src="{baseUrl}img/mask1.png" alt="" class="w-100">
                        </div>
                        <div class="tab-pane fade" id="_id-2">
                            <img src="{baseUrl}img/mask2.png" alt="" class="w-100">
                        </div>
                        <div class="tab-pane fade" id="_id-3">
                            <img src="{baseUrl}img/mask3.png" alt="" class="w-100">
                        </div>
                        <div class="tab-pane fade" id="_id-4">
                            <img src="{baseUrl}img/mask4.png" alt="" class="w-100">
                        </div>
                        <div class="tab-pane fade" id="_id-5">
                            <img src="{baseUrl}img/mask5.png" alt="" class="w-100">
                        </div>
                        <div class="tab-pane fade" id="_id-6">
                            <img src="{baseUrl}img/mask6.png" alt="" class="w-100">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-0 ">
                    <ul class="nav nav-tabs d-flex justify-content-between">
                        <li class="tab-item pb-15 current">
                            <a class="tab-link active" data-toggle="tab" href="#_id-1">
                                <img src="{baseUrl}img/a1.png" alt="" class="w-100">
                            </a>
                        </li>
                        <li class="tab-item pb-15">
                            <a class="tab-link" data-toggle="tab" href="#_id-2">
                                <img src="{baseUrl}img/a2.png" alt="" class="w-100">
                            </a>
                        </li>
                        <li class="tab-item pb-15 pt-15">
                            <a class="tab-link" data-toggle="tab" href="#_id-3">
                                <img src="{baseUrl}img/a3.png" alt="" class="w-100">
                            </a>
                        </li>
                        <li class="tab-item pb-15 pt-15">
                            <a class="tab-link" data-toggle="tab" href="#_id-4">
                                <img src="{baseUrl}img/a4.png" alt="" class="w-100">
                            </a>
                        </li>
                        <li class="tab-item pt-15">
                            <a class="tab-link" data-toggle="tab" href="#_id-5">
                                <img src="{baseUrl}img/a5.png" alt="" class="w-100">
                            </a>
                        </li>
                        <li class="tab-item pt-15">
                            <a class="tab-link" data-toggle="tab" href="#_id-6">
                                <img src="{baseUrl}img/a6.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
    <div class="banner1">
        <img src="{baseUrl}img/baner1.png" alt="" class="w-100">
    </div>
    <div class="box-2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="left-img">
                    <img src="{baseUrl}img/noodles_left.png" alt="">
                </div>
                <div class="title">
                    <h1>Giống chó</h1>
                </div>
                <div class="right-img">
                    <img src="{baseUrl}img/noodles_right.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row multiple-items">
                
                <div class="">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="{baseUrl}img/Bitmap.png" alt="" >
                            <div class="food-name">
                                <p>Husky </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="{baseUrl}img/Bitmap.png" alt="" >
                            <div class="food-name">
                                <p>Husky </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="{baseUrl}img/Bitmap.png" alt="" >
                            <div class="food-name">
                                <p>Husky </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="{baseUrl}img/Bitmap.png" alt="" >
                            <div class="food-name">
                                <p>Husky </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="{baseUrl}img/Bitmap.png" alt="" >
                            <div class="food-name">
                                <p>Husky </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-3">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="left-img">
                    <img src="{baseUrl}img/noodles_left.png" alt="">
                </div>
                <div class="title">
                    <h1>Thức ăn</h1>
                </div>
                <div class="right-img">
                    <img src="{baseUrl}img/noodles_right.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <ul class="nav nav-tabs d-flex mw-485 dog-type-tab" >
                    <li class="tab-type-item current-2" >
                        <a href="#food-1" data-toggle="tab">Đồ ăn khô</a>
                    </li>
                    <li class="tab-type-item">
                        <a href="#food-2" data-toggle="tab">Đồ ăn nước</a>
                    </li>
                    <li class="tab-type-item">
                        <a href="#food-3" data-toggle="tab">Đồ uống</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="container tab-pane active " id="food-1">
                <div class="row justify-content-between">
                    <div class="col-md-3 ">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container tab-pane fade" id="food-2">
                <div class="row justify-content-between">
                    <div class="col-md-3 ">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container tab-pane fade" id="food-3">
                <div class="row justify-content-between">
                    <div class="col-md-3 ">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <div class="dog-type-content">
                                <img src="{baseUrl}img/Bitmap.png" alt="" class="w-100">
                                <div class="food-name">
                                    <p>Husky </p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="see-more">
                <a href="#">See more</a>
            </div>
        </div>
    </div>
    <!-- <div class="banner2">
        <img src="{baseUrl}img/baner2.png" alt="" class="w-100">
    </div> -->
    <div class="box-4">
        <div class="container">
            
            <div class="row align-items-center justify-content-between">
                <div class="left-img">
                    <img src="{baseUrl}img/noodles_left.png" alt="">
                </div>
                <div class="title">
                    <h1>chăm sóc</h1>
                </div>
                <div class="right-img">
                    <img src="{baseUrl}img/noodles_right.png" alt="">
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row justify-content-center">
                <ul class="nav nav-tabs d-flex mw-485 dog-type-tab" >
                    <li class="tab-new-item current-3" id="_new-item1">
                        <a href="#_new1" data-toggle="tab">Nổi bật</a>
                    </li>
                    <li class="tab-new-item" id="_new-item2">
                        <a href="#_new2" data-toggle="tab">Tin mới</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="container tab-pane active" id="_new1">
                <div class="row justify-content-between">
                    <div class="col-md-4 ">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container tab-pane fade" id="_new2">
                <div class="row justify-content-between">
                    <div class="col-md-4 ">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dog-type-content">
                            <a href="#">
                                <img src="{baseUrl}img/Bitmap2.png" alt="" class="w-100">
                            </a>
                            <div class="new-menu">
                                <div class="new-time">
                                    <span>09/04/2019</span>
                                </div>
                                <div class="new-title">
                                    <a href="#">
                                        <h3>Làm sao để tắm cho cún yêu</h3>
                                    </a>
                                </div>
                                <div class="new-content">
                                    <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                                </div>
                                <div class="more-detail">
                                    <a href="#">
                                        <img src="{baseUrl}img/icon_readmore.png" alt="">
                                        Đọc thêm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="see-more">
                        <a href="#">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="left-img">
                    <img src="{baseUrl}img/noodles_left.png" alt="">
                </div>
                <div class="title">
                    <h1>Liên hệ</h1>
                </div>
                <div class="right-img">
                    <img src="{baseUrl}img/noodles_right.png" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="contact-text">
                    <h4>Gửi tin nhắn cho chúng tôi để được hỗ trợ tốt nhất</h4>
                </div>
            </div>
            <form name="frmContact" action="" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-contact pro">
                            <div class="ic_inp">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="CustomerName" id="_CustomerName" placeholder="Tên khách hàng" class="inp-fix">
                            <div class="noti" id="noti_name"></div>
                        </div>
                        <div class="title-contact mt-4 pro">
                            <div class="ic_inp">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="CustomerEmail" id="_CustomerEmail" placeholder="Email" class="inp-fix">
                            <div class="noti" id="noti_email"></div>
                        </div>
                        <div class="title-contact mt-4 pro">
                            <div class="ic_inp">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <input type="text" name="CustomerPhone" id="_CustomerPhone" placeholder="Số điện thoại" class="inp-fix">
                            <div class="noti" id="noti_phone"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="note-contact">
                            <textarea name="CustomerContent" id="_CustomerContent"  placeholder="Nội dung yêu cầu" class="note-fix"></textarea>
                        </div>
                        <div class="noti" id="noti_content"></div>
                    </div>
                    <div class="col-md-12 fix-btn">
                        <button type="button" class="btn-submit" onClick="sendMess()">Gửi tin nhắn</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {content}
    <div class="box-6">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-title">
                        <h3>Thông tin liên hệ</h3>
                    </div>
                    <div class="more-info d-flex">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>80 Hàng Quạt, Phường Hàng Gai, Quận Hoàn Kiếm</p>
                    </div>
                    <div class="more-info d-flex">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p>support.sanhmi@gmail.com</p>
                    </div>
                    <div class="more-info d-flex">
                        <i class="fa fa-globe" aria-hidden="true"></i>

                        <p>quận Hoàn Kiếm</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-title">
                        <h3>Kết nối với chúng tôi</h3>
                    </div>
                    <div class="more-info d-flex">
                        <p>Theo dõi để có thêm thông tin bổ ích</p>
                    </div>
                    <div>
                        <div class="social ml-3">
                            <a href="#" class="ml-2"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="ml-2"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="ml-2"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="map">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Bản quyền 2019 © ProTeam</p>
        </div>
    </footer>
    


    <script>
        $(document).ready(function () {
            $('.tab-item').click(function () {
                $('.tab-item').removeClass('current');
                $(this).addClass('current');
            });
            $('.tab-type-item').click(function () {
                $('.tab-type-item').removeClass('current-2');
                $(this).addClass('current-2')
            });
            $('.tab-new-item').click(function () {
                $('.tab-new-item').removeClass('current-3');
                $(this).addClass('current-3')
            });
            
        });
    </script>
    <script>
    
    </script>
    <script>
        $('.multiple-items').slick({
            autoplay: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1
        });
    </script>

    <script src="{baseUrl}js/index_js.js" type="text/javascript"></script>

    <script>
        function initMap() {
        var uluru = {lat: 21.0108623, lng: 105.8257319};
            // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: uluru,
            zoom: 15,
        });
        var marker = new google.maps.Marker({position: uluru, map: map});
        }
    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxZUzEbI2KlzCQOMs1sLqYv_38hjSHL-w&callback=initMap">
    </script>
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
    <script>
        $(document).ready(function() {
            new showHideText('.myContent', {
                charQty     : 250,
                ellipseText :"...",
                moreText    :"See more",
                lessText    :"See more"
            });
            
        });
    </script>
</body>
</html>
<!-- END: LAYOUT -->