<!-- BEGIN: FAQ -->
<div class="box-dog-faq pro">
    <div class="bg-img " style="position: absolute; width: 100%;">
        <img src="img/banner7.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dog-type-title">
                    <div class="line-up">
                        <img src="img/noodles3.png" alt="">
                    </div>
                    <div class="text">
                        <h1>Frequently Asked Questions
                            
                        </h1>
                    </div>
                    <div class="line-down">
                        <img src="img/noodles3.png" alt="">
                    </div>
                </div>
                <div class="link-type-dog">
                    <a href="?m=tables&a=Home" class="mr-3">
                        <img src="img/icon_home.png" alt="">
                    </a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="?m=tables&a=FAQ" class="mr-3">FAQ</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-faq-1">
    <div class="container">
        <div class="row">
            <div class="faq">
                <!-- BEGIN: wh -->
                <div class="col-md-12 toppic d-flex mt-5">
                    <h3>Frequently Asked Questions</h3>
                </div>
                <div class="col-md-12 p-0 mt-2">
                    <div class="faq-item">
                        <div class="faq-question d-flex">
                            <div class="faq-number ">
                                <p>{LIST.nbr}.</p>
                            </div>
                            <div class="faq-wh">
                                <p>{LIST.title}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="faq-question d-flex ">
                            <div class="faq-answer">
                                <p>Answer:
                                
                            </div>
                            <div class="faq-as justify"  >
                                <p class="myContent">{LIST.answ}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: wh -->
            </div>
        </div>
    </div>
</div>


<!-- END: FAQ -->