<!-- BEGIN: EDIT -->

        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">gallery</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <form method="POST" name="addimg" action="#" accept-charset="UTF-8" role="form" class="form-horizontal group-border-dashed" style="border-radius: 0px;" id="form_equipment" enctype="multipart/form-data">
                        
                    
                        <div class="header">
                            <h3>Edit page </h3>
                            
                        </div>
                            <div id="showImg">

                                <div class="form-group" style="margin-top:5px;margin-bottom:15px;">
                                        <label class="col-sm-3 control-label"><strong>{mess_img1}</strong></label>
                                        <div class="col-sm-9" style="margin-top:7px;color:red;">
                                            <span>{mess_img2}</span>  
                                        </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;margin-bottom:15px;">
                                    <label class="col-sm-3 control-label">Album Title</label>
                                    <div class="col-sm-6">
                                        <input value="{album_title}" placeholder="" class="form-control" name="txtAlbum" type="text" required> 
                                    </div>
                                </div>                              
                                <div class="row">
                                        <div class="col-sm-offset-4 col-sm-8">
                                            <button name="add" value="img" type="submit" class="btn btn-primary wizard-next">Update</button>
                                        </div>
                                    </div>
                            </div>
                        </form>
                         <!-- hết mục add img -->
                     
                    
                </div>
            </div>
        </div>	
    </div>
       
    <footer class="footer text-center"> 2019 &copy;  Admin ProTeam </footer>



<!-- END: EDIT -->