<!-- BEGIN: ADD -->
<script>
    function onresert(){
        var f           = document.add;
        var name        = f.txtName.value ="";
        var country     = f.txtCountry.value="" ;
        var sub         = f.s_content.value="" ; 
        var full        = f.f_content.value="" ;
        var img         = f.image_upload.value="" ;
        var dis         = f.dis_content.value="" ;
    }
</script>
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Help Center</h4>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <form method="POST" name="add" action="#" accept-charset="UTF-8" role="form" class="form-horizontal group-border-dashed" style="border-radius: 0px;" id="form_equipment" enctype="multipart/form-data"><input name="_token" type="hidden" value="KP4b4mMmjbMhX1EFSNetmsk07ZwB2lsN0npOgotc">
                        <input type="hidden" name="_token" value="1">
                    
                            <div class="header">
                                <h3>Add Page </h3>
                                
                            </div>
                            <div class="form-group" style="margin-top:5px;margin-bottom:15px;">
                                <label class="col-sm-3 control-label">Question</label>
                                <div class="col-sm-6">
                                    <input placeholder="" class="form-control" name="txtQuestion" type="text" required> 
                                </div>
                            </div>
                            <div class="form-group"style="margin-top:5px;margin-bottom:15px;">
                                <label class="col-sm-3 control-label">Answer*</label>
                                <div class="col-sm-9">
                                    <textarea name="txtAnswer" id="content" class="rich_text"required ></textarea>
                                </div>
                            </div>
  

                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-8">
                                <a href="#" class="btn btn-default" onclick="onresert();">Reset</a>
                                <button id="form_submit" type="submit" class="btn btn-primary wizard-next">Add infomation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>	
    </div>
       
    <footer class="footer text-center"> 2019 &copy;  Admin ProTeam </footer>

<!-- END: ADD -->