<!-- BEGIN: DETAIL -->

<div class="box-dog-faq pro">
    <div class="bg-img" >
        <img src="img/banner4.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dog-type-title">
                    <div class="line-up">
                        <img src="img/noodles3.png" alt="">
                    </div>
                    <div class="text">
                        <h1>News</h1>
                    </div>
                    <div class="line-down">
                        <img src="img/noodles3.png" alt="">
                    </div>
                </div>
                <div class="link-type-dog">
                    <a href="?m=tables&a=Home" class="mr-3">
                        <img src="img/icon_home.png" alt="">
                    </a>
                    <!-- BEGIN: more -->
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="?m=tables&a=Care" class="mr-3">News</a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <span style="color: #ffffff;" >{more.title}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-new-detail">
    <div class="container">
        <div class="row">
            
            <div class="new-detail mt-5">
                <div class="new-detail-title">
                    <h3>{more.title}</h3>
                </div>
                <div class="new-detail-time mb-4">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span class="mr-4 " style="color:#878787!important">{more.date_up}</span>
                    <!-- <i class="fa fa-eye" aria-hidden="true"></i>
                    <span class="mr-4">12</span>
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    <span>2</span> -->
                </div>
                <div class="new-detail-content justify">
                    <p>{more.subcontent}</p>
                    
                </div>
                <div class="new-detail-img pro">
                    <img src="{baseUrl}admin/img/{more.img}" alt="" class="w-100">
                    <div class="new-social">
                        <div class="pro">
                            <div class="new-line1"></div>
                            <div>
                                <div class="new-like mb-3">
                                    <div class="new-fb-like">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </div>
                                    <div class="new-fb-number">
                                        <b>247</b><br>
                                        <span>like</span>
                                    </div>
                                </div>
                                <div class="new-like">
                                    <div class="new-fb-like">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </div>
                                    <div class="new-fb-number">
                                        <b>12</b><br>
                                        <span>share</span>
                                    </div>
                                </div>
                            </div>
                            <div class="new-line2"></div>
                        </div> 
                    </div>
                </div>
                <div class="content justify">
                    {more.fullcontent}
                    <!-- <p>Tôi cũng từng tự nấu cho mình những bữa chay tại nhà, nhưng vì tài nêm nếm có hạn nên cũng chỉ làm được vài ba món nhất định, xoay đi xoay lại mãi đâm ra ngán. Nhưng nếu phải ra quán chờ đợi hàng giờ để được nếm menu đa dạng thì thôi tôi chọn ăn ở nhà cho lành! Rồi không nhớ vì lý do gì khiến tôi sực nghĩ lại, tại sao phải ăn theo số đông khi mình hoàn toàn có thể có lựa chọn khác tốt hơn rất nhiều?</p>
                    <p>Gần đây tôi có duyên đến thử món chay tại một quán chuyên-bán-đồ-mặn, menu chỉ có đúng 1 món chay :)) theo lời giới thiệu của bà chị làm phụ bếp tại quán. Bà í biết tôi thích ăn chay nên cứ gặp là lại quảng cáo quán tao có món chay ngon lắm, nên kiểu gì tôi cũng phải đến thử một lần cho bả vừa bụng. Quán này có một thứ rất hay ho rất hợp ý tôi, đó là nguyên liệu đều tươi mới và đảm bảo sạch sẽ. Món mà tôi ăn là MÌ CHAY! Vâng! Chẳng phải món gì hoàng tráng mà chính là mì chay ạ! Bà chị tôi bảo sợi mì của quán là do quán tự làm, chỉ dùng trong ngày thôi và tạo màu từ củ dền và cải bó xôi. Bà í bảo ngày nào việc đầu tiên mà bà í làm khi vào bếp đều là tuyển chọn rau củ và sơ chế ép lấy nước để trộn bột nên bả đảm bảo rằng những điều quán quảng cáo đều không phải nói láo. Nếu mà vậy thật thì công cuộc ăn chay xanh sạch của tôi đã được đảm bảo 80% bởi nguyên liệu an toàn và tươi mới rồi.  </p> -->
                </div>
            </div>
            <!-- END: more -->

        </div>
    </div>
</div>
<div class="container my-5 ">
        
    <div class="row align-items-center justify-content-between">
        <div class="left-img">
            <img src="img/noodles_left.png" alt="">
        </div>
        <div class="title">
            <h1>Related news</h1>
        </div>
        <div class="right-img">
            <img src="img/noodles_right.png" alt="">
        </div>
    </div>

</div>
<div class="tab-content ">
    <div class="container ">
        <div class="row justify-content-between">
            <!-- BEGIN: moreitem -->
            <div class="col-md-4 ">
                <div class="dog-type-content">
                    <a href="?m=News&a=detail&detail={moreitem.id}">
                        <img src="{baseUrl}admin/img/{moreitem.img}" alt="" height="238px" width="360px">
                    </a>
                    <div class="new-menu">
                        <div class="new-time">
                            <span>{moreitem.date_up}</span>
                        </div>
                        <div class="new-title">
                            <a href="?m=News&a=detail&detail={moreitem.id}">
                                <h3>{moreitem.title}</h3>
                            </a>
                        </div>
                        <div class="new-content justify">
                            <p>{moreitem.subcontent}</p>
                        </div>
                        <div class="more-detail">
                            <a href="?m=News&a=detail&detail={moreitem.id}">
                                <img src="img/icon_readmore.png" alt="">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: moreitem -->
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="see-more">
                <a href="?m=tables&a=news">See more</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="mb-5">
            <hr>
        </div>
    </div>
</div>
<!-- END: DETAIL -->