<!--BEGIN: CARE -->
<div class="box-dog-faq pro">
    <div class="bg-img ">
        <img src="img/banner4.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dog-type-title">
                    <div class="line-up">
                        <img src="img/noodles3.png" alt="">
                    </div>
                    <div class="text">
                        <h1>Chăm sóc</h1>
                    </div>
                    <div class="line-down">
                        <img src="img/noodles3.png" alt="">
                    </div>
                </div>
                <div class="link-type-dog">
                    <a href="#" class="mr-3">
                        <img src="img/icon_home.png" alt="">
                    </a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="#" class="mr-3">Giống chó</a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="#">Husky</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="box-dog-type-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dog-type-search">
                    <form action="#" method="POST" class="frm-search pro">
                        <input type="text" name="" id="" class="inp-search" placeholder="Tìm kiếm">               
                        <button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <ul class="nav nav-tabs d-flex mw-485 dog-type-tab" >
                <li class="tab-type-item current-2" >
                    <a href="#">Nổi bật</a>
                </li>
                
                <li class="tab-type-item">
                    <a href="#" >Tin mới</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="dog-type-list">

        <div class="container ">
            <div class="row justify-content-between">
                <div class="col-md-4 ">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dog-type-list">
        <div class="container ">
            <div class="row justify-content-between">
                <div class="col-md-4 ">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div >
            <hr>
        </div>
    </div>
    <div class="line-page">
        <div class="container">
            
            <div class="row">
                <ul class="list-number"> 
                    <li >
                        <a href="#"><img src="img/icon_prevert.png" alt=""></a>
                    </li>
                    <li class="list-page-item list-active">
                        <a href="#">1</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">2</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">3</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">...</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">20</a>
                    </li>
                    <li >
                        <a href="#"><img src="img/Icon_next.png " alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--END: CARE-->