<!--BEGIN: GALLERY-->
<div class="box-dog-anh pro">
    <div class="bg-img ">
        <img src="img/banner5.png" alt="" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dog-type-title">
                    <div class="line-up">
                        <img src="img/noodles3.png" alt="">
                    </div>
                    <div class="text">
                        <h1>Gallery</h1>
                    </div>
                    <div class="line-down">
                        <img src="img/noodles3.png" alt="">
                    </div>
                </div>
                <div class="link-type-dog">
                    <a href="#" class="mr-3">
                        <img src="img/icon_home.png" alt="">
                    </a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="#" class="mr-3">Giống chó</a>
                    <i class="fa fa-angle-right mr-3" aria-hidden="true" ></i>
                    <a href="#">Husky</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="box-dog-type-2">
    <div class="gallery">
        <div class="container">
            <ul id="lightgallery" class="row justify-content-around">
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
                <li class="album" data-src="img/Bitmap.png">
                    <img src="img/Bitmap.png" class="w-100" />
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="mt-5">
            <hr>
        </div>
    </div>
    <div class="line-page">
        <div class="container">
            <div class="row">
                <ul class="list-number"> 
                    <li >
                        <a href="#"><img src="img/icon_prevert.png" alt=""></a>
                    </li>
                    <li class="list-page-item list-active">
                        <a href="#">1</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">2</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">3</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">...</a>
                    </li>
                    <li class="list-page-item">
                        <a href="#">20</a>
                    </li>
                    <li >
                        <a href="#"><img src="img/Icon_next.png " alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--END: GALLERY-->