<!--BEGIN: HOME -->
<div class="box-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 pl-0">
                <div class="tab-content">
                    <div class="tab-pane active " id="_id-1">
                        <img src="img/mask1.png" alt="" class="w-100">
                    </div>
                    <div class="tab-pane fade" id="_id-2">
                        <img src="img/mask2.png" alt="" class="w-100">
                    </div>
                    <div class="tab-pane fade" id="_id-3">
                        <img src="img/mask3.png" alt="" class="w-100">
                    </div>
                    <div class="tab-pane fade" id="_id-4">
                        <img src="img/mask4.png" alt="" class="w-100">
                    </div>
                    <div class="tab-pane fade" id="_id-5">
                        <img src="img/mask5.png" alt="" class="w-100">
                    </div>
                    <div class="tab-pane fade" id="_id-6">
                        <img src="img/mask6.png" alt="" class="w-100">
                    </div>
                </div>
            </div>
            <div class="col-md-4 pr-0 ">
                <ul class="nav nav-tabs d-flex justify-content-between">
                    <!-- BEGIN: IMG -->
                    <li class="tab-item pb-15 current">
                        <a class="tab-link active" data-toggle="tab" href="#_id-1">
                            <img src="{baseUrl}admin/img/{IMG.img}" alt="" class="w-100">
                        </a>
                    </li>
                    <!-- END: IMG -->
                    
                    <!-- <li class="tab-item pb-15">
                        <a class="tab-link" data-toggle="tab" href="#_id-2">
                            <img src="img/a2.png" alt="" class="w-100">
                        </a>
                    </li>
                    <li class="tab-item pb-15 pt-15">
                        <a class="tab-link" data-toggle="tab" href="#_id-3">
                            <img src="img/a3.png" alt="" class="w-100">
                        </a>
                    </li>
                    <li class="tab-item pb-15 pt-15">
                        <a class="tab-link" data-toggle="tab" href="#_id-4">
                            <img src="img/a4.png" alt="" class="w-100">
                        </a>
                    </li>
                    <li class="tab-item pt-15">
                        <a class="tab-link" data-toggle="tab" href="#_id-5">
                            <img src="img/a5.png" alt="" class="w-100">
                        </a>
                    </li>
                    <li class="tab-item pt-15">
                        <a class="tab-link" data-toggle="tab" href="#_id-6">
                            <img src="img/a6.png" alt="">
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>  
<div class="banner1">
    <img src="img/baner1.png" alt="" class="w-100">
</div>
<div class="box-2">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="left-img">
                <img src="img/noodles_left.png" alt="">
            </div>
            <div class="title">
                <h1>Giống chó</h1>
            </div>
            <div class="right-img">
                <img src="img/noodles_right.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row multiple-items">
            
            <div class="">
                <a href="#">
                    <div class="dog-type-content">
                        <img src="img/Bitmap.png" alt="" >
                        <div class="food-name">
                            <p>Husky </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="#">
                    <div class="dog-type-content">
                        <img src="img/Bitmap.png" alt="" >
                        <div class="food-name">
                            <p>Husky </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="#">
                    <div class="dog-type-content">
                        <img src="img/Bitmap.png" alt="" >
                        <div class="food-name">
                            <p>Husky </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="#">
                    <div class="dog-type-content">
                        <img src="img/Bitmap.png" alt="" >
                        <div class="food-name">
                            <p>Husky </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="">
                <a href="#">
                    <div class="dog-type-content">
                        <img src="img/Bitmap.png" alt="" >
                        <div class="food-name">
                            <p>Husky </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="see-more">
                <a href="?m=tables&a=dogs">See more</a>
            </div>
        </div>
    </div>
</div>
<div class="box-3">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="left-img">
                <img src="img/noodles_left.png" alt="">
            </div>
            <div class="title">
                <h1>Thức ăn</h1>
            </div>
            <div class="right-img">
                <img src="img/noodles_right.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <ul class="nav nav-tabs d-flex dog-type-tab" >
                <!-- BEGIN: THUCAN -->
                <li class="tab-type-item {THUCAN.active}" >
                    <a href="#food-{THUCAN.id}" data-toggle="tab">{THUCAN.catalogies}</a>
                </li>
                <!-- END: THUCAN -->
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <!-- BEGIN: DETAIL -->
        <div class="container tab-pane fade {DETAIL.active}" id="food-{DETAIL.id}">
            <div class="row justify-content-between">
                <!-- BEGIN: LS -->

                <div class="col-md-3 ">
                    <a href="#">
                        <div class="dog-type-content">
                            <img src="img/Bitmap.png" alt="" class="w-100">
                            <div class="food-name">
                                <p>{test}</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- END: LS -->
            </div>
        </div>
        <!-- END: DETAIL -->
        
    </div>
    
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="see-more">
            <a href="?m=tables&a=foods">See more</a>
        </div>
    </div>
</div>
<!-- <div class="banner2">
    <img src="img/baner2.png" alt="" class="w-100">
</div> -->
<div class="box-4">
    <div class="container">
        
        <div class="row align-items-center justify-content-between">
            <div class="left-img">
                <img src="img/noodles_left.png" alt="">
            </div>
            <div class="title">
                <h1>chăm sóc</h1>
            </div>
            <div class="right-img">
                <img src="img/noodles_right.png" alt="">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row justify-content-center">
            <ul class="nav nav-tabs d-flex mw-485 dog-type-tab" >
                <li class="tab-new-item current-3" id="_new-item1">
                    <a href="#_new1" data-toggle="tab">Nổi bật</a>
                </li>
                <li class="tab-new-item" id="_new-item2">
                    <a href="#_new2" data-toggle="tab">Tin mới</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="container tab-pane active" id="_new1">
            <div class="row justify-content-between">
                <div class="col-md-4 ">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container tab-pane fade" id="_new2">
            <div class="row justify-content-between">
                <div class="col-md-4 ">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dog-type-content">
                        <a href="#">
                            <img src="img/Bitmap2.png" alt="" class="w-100">
                        </a>
                        <div class="new-menu">
                            <div class="new-time">
                                <span>09/04/2019</span>
                            </div>
                            <div class="new-title">
                                <a href="#">
                                    <h3>Làm sao để tắm cho cún yêu</h3>
                                </a>
                            </div>
                            <div class="new-content">
                                <p>Đạt được cột mốc cửa hàng thứ 100, Jollibee - chuỗi nhà hàng thức ăn nhanh lớn thứ 3 tại Việt Nam – càng củng cố cam kết lan tỏa niềm vui bất tận đến các gia đình Việt Nam.</p>
                            </div>
                            <div class="more-detail">
                                <a href="#">
                                    <img src="img/icon_readmore.png" alt="">
                                    Đọc thêm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="see-more">
                    <a href="#">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="left-img">
                <img src="img/noodles_left.png" alt="">
            </div>
            <div class="title">
                <h1>Liên hệ</h1>
            </div>
            <div class="right-img">
                <img src="img/noodles_right.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="contact-text">
                <h4>Gửi tin nhắn cho chúng tôi để được hỗ trợ tốt nhất</h4>
            </div>
        </div>
        <form action="#" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-contact pro">
                        <div class="ic_inp">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="username"  placeholder="Tên khách hàng" class="inp-fix">
                    </div>
                    <div class="title-contact mt-4 pro">
                        <div class="ic_inp">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <input type="text" name="username" placeholder="Email" class="inp-fix">
                    </div>
                    <div class="title-contact mt-4 pro">
                        <div class="ic_inp">
                                <i class="fa fa-phone" aria-hidden="true"></i>

                        </div>
                        <input type="text" name="username"  placeholder="Số điện thoại" class="inp-fix">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="note-contact">
                        <textarea name=""  placeholder="Nội dung yêu cầu" class="note-fix"></textarea>
                    </div>
                </div>
                <div class="col-md-12 fix-btn">
                    <button class="btn-submit">Gửi tin nhắn</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- END: HOME -->